@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #14161A;
}

@font-face {
  font-family: 'Figtree';
  src: url('../../public/fonts/Figtree-Light.ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../../public/fonts/Figtree-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../../public/fonts/Figtree-Medium.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../../public/fonts/Figtree-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../../public/fonts/Figtree-Bold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../../public/fonts/Figtree-ExtraBold.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../../public/fonts/Figtree-Black.ttf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Figtree';
  src: url('../../public/fonts/Figtree-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('../../public/fonts/Figtree-Italic.ttf');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('../../public/fonts/Figtree-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('../../public/fonts/Figtree-SemiBoldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('../../public/fonts/Figtree-BoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('../../public/fonts/Figtree-ExtraBoldItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Figtree';
  src: url('../../public/fonts/Figtree-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}


